.window_loading {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(0,0,0,.3);
    display: flex;
    justify-content: center;
    align-items: center;
    .loading_center {
        width: 120px;
        height: 120px;
        border-radius: 6px;
        background-color: #fff;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .loading_icon {
        width: auto;
        height: auto;
        font-size: 48px;
    }

    &.hide {
        display: none;
    }

    .loading_text {
        color: #666;
        margin-top: 12px;
        font-size: 14px;
    }
}