.form_box {
    background: #fff;
    .from_item_base {
        width: 100%;
        :global {
            .ant-form-explain {
                margin-top: 2px;
            }

        }
    }

    :global {
        .ant-form-item-with-help {
            margin-bottom: 1px;
        }
    }

    .footer {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0;
    }
}