.home_index {
    font-size: 16px;
    overflow: hidden;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    background-image: url("http://static.yutao2012.com/d5865130-753b-11e8-812b-bba06f24bc0e.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}