.com_layout {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  min-width: 1024px;
}

.com_header {
   padding: 0 24px;
   background-color: #fff;
   display: flex;
   justify-content: space-between;

  .com_header_left {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .com_header_right {
    flex: 1;
  }

  .max_band {
    font-size: 18px;
    margin-left: 10px;
    color: #333;
  }
}

.com_trigger {
  font-size: 22px;
  color: #666;
}

.com_content {

}

.com_left_menu {
  height: 100%;
  overflow-y: auto;

  .base_menu {
    background-color: #2a3542;
  }
}