.base_breadcrumb {
    padding: 8px 14px 8px 34px;

    border-radius: 4px;
    background-color: #fff;
    position: relative;

    .main_breadcrumb {
        font-size: 13px !important;
    }

    .current {
        color: #666;
    }
    .home_icon {
        position: absolute;
        top: 50%;
        left: 14px;
        transform: translateY(-50%);
        font-size: 16px;
        line-height: 1em;
        color: #666;
    }
}