.com_layout {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    min-width: 1024px;
}

.com_header {
    padding: 0 16px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1em;
    height: 50px;
    border-bottom: 1px solid #ececec;

    .com_header_left {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .com_header_right {

        .user_avatar {
            width: 29px;
            height: 29px;
            margin-right: 6px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 4px;
        }

        .user_name {
            font-size: 13px;
            color: #555;
        }

        .user_desc {
            display: flex;
            align-items: center;
            padding: 4px 10px;
            border: 1px solid #ececec;
            position: relative;
            border-radius: 2px;
            cursor: pointer;

            &:after {
                display: block;
                width: 0;
                height: 0;
                margin-left: 6px;
                vertical-align: middle;
                border-top: 4px solid #A4AABA;
                border-right: 4px solid transparent;
                border-bottom: 0 dotted;
                border-left: 4px solid transparent;
                content: "";
            }

        }
    }

    .max_band {
        font-size: 18px;
        margin-left: 10px;
        color: #333;
    }
}


.user_content {
    width: 140px;
    margin: -10px -14px;
    .set_item {
        padding: 10px 0;
        border-bottom: 1px solid #ececec;
        text-align: center;
        cursor: pointer;
        &:last-child {
            border-bottom: none;
        }
    }
}

.com_content {
    flex: 1;
    .center_content {
        padding: 20px;
        background-color: #f1f2f7;
    }
}