.goods_form {
    background-color: #fff;
    padding: 16px 20px 16px 20px;
    margin-top: 16px;
    border-radius: 4px;

    :global {
        .ant-form-item {
            display: flex;
        }

        .ant-form-item-control-wrapper {
            flex: 1;
        }
    }
}

.not_found_page {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #333;
    .not_found_icon {
        background-image: url("./../../img/404.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100px;
        height: 100px;
    }
}

.range_cnter {
    margin: 0 20px;
}

.coverImage , .item_image{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.delete_image {
    position: absolute;
    font-size: 20px;
    right: -8px;
    top:-8px;
    line-height: 20px;
    color: #f40;
}

.item_image {
    width: 102px;
    height: 102px;
    border-radius: 4px;
    margin-right: 20px;
    margin-bottom: 10px;
    border: 1px dashed #d9d9d9;
    cursor: pointer;
    &:hover {
        border-color: #00c1de;
    }
}

.upload_list {
    display: flex;
    flex-wrap: wrap;
}

.editor_wrapper_className {
    :global {
        .tab-group {
            .tab-nav {
                height: 58px;
            }
        }
    }
}

.editor_content_class {
    min-height: 300px;
    padding: 0 10px;
    border: 1px solid #ececec;
    background-color: #f6f6f6;
}

:global{
    .ant-form-text {
        color: #999;
    }
}
