.mall_category {
    width: 100%;
    .add_btn {
        margin-top: 16px;
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .form_box {
        background: #fff;
        .from_item_base {
            width: 100%;
            :global {
                .ant-form-explain {
                    margin-top: 2px;
                }
            }
        }
        :global {
            .ant-form-item-with-help {
                margin-bottom: 1px;
            }
        }
    }

    .table_list {
        .action_btn {
            margin: 0 6px;
        }
        .table_body {
            text-align: center;
            height: 30px;
            padding: 10px 10px !important;
        }
        .table_head {
            text-align: center;
            padding: 10px 8px !important;
            background-color: #f6f6f6;
        }
        :global {
            .ant-table {
                background-color: #fff;
                border-radius: 4px;
                margin-bottom: 10px;
            }
        }
    }
}