/*reset*/
*{
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  word-break: break-all;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust:100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none !important;
  margin: 0;
}
::-webkit-input-placeholder,
:-moz-placeholder,
:-ms-input-placeholder
{
  color: #999;
}

ol, ul { list-style: none; }

input{
  outline: none;
  line-height: normal;
  -webkit-appearance: none;
  appearance: none;
}

a { text-decoration: none;  -webkit-touch-callout:none;}

p {
  word-break: break-all; /*支持IE，chrome，FF不支持*/
  word-wrap: break-word; /*支持IE，chrome，FF*/
}

p,span,div,h1,h2,h3,a{
  user-select:none;
}

input[type='text'],
input[type='number'],
input[type='password'],
input[type='tel'],
input[type='date']{
  display: block;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button{
  background-color: transparent;
}

input,button,select,textarea{outline:none;}

body{
  background: #f6f6f6;
}

header , footer , section {
  display: block;
}